.tumbHolder {
    display: flex;
    justify-content: center;
    width: 150px;
    height: 100px;
    margin: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
    margin: 5px;
    cursor: pointer;
}

.tumbName {
    font-family: Poppins;
    text-align: center;
    width: 100vw;
    height: 20px;
    border-radius: 15px 15px 0px 0px;
    background-color: white;
}