.fullscreenimg-wrapper {
    width: 100vw;
    height: 94vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.fullscreenimg {
    width: 90vw;
    height: calc(90vw/1.5);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
}

.previous-button, .exit-button, .next-button {
    align-self: flex-end;
    width: 33vw;
    font-family: Poppins;
    border: none;
    color: white;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.fullscreen-button-wrapper {
    display: flex;
}

