@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

body {
  box-sizing: border-box;
  font-family: "Open Sans Condensed";
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
};


